*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.topbar{
  height: 50px;
  width: 100%;
  background-color:black;
}
.topbar h1{
  color: white;
  margin-left: 20px;
}
.topbar ul{
  margin-top: 0px;

}
.topbar ul li{
  display: inline;
  float: right;
  margin-top: 15px;
  margin-right: 30px;

}
.topbar ul li a{
  color: white;
  text-decoration: none;
  width: 100px;
  padding: 3px;
  border-radius: 5px;


}
.welcome{
  background-color: #F8F9FB;
    font-family: 'Gideon Roman', cursive;
    overflow-x: hidden;

}
.hi1{
  float: left;
  height: 150px;
  width: 340px;
  margin-left: 100px;
  margin-top: 70px;
  border-radius: 5px;
}
#hi2{
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 11px -7px 46px 1px rgba(186,153,255,0.36);
}
.hi1 img{
  width: 800px;
  height: 350px;
  border-radius: 10px;
  margin-right: 40px;
}
.hi1 h1{
  margin-top: 10px;
  margin-left: 20px;
}
.hi1 p{
  margin-left: 20px;
  margin-top: 10px;
  color: black;
}
.reader h1{
  text-align: center;
  clear: both;
  margin-top: 100px;

}
.reader{
  text-align: center;
  clear: both;
  margin-top: 100px;

}
.lecture h1{
  font-size: 25px;
  margin-left: 100px;
  margin-top: 40px;
}
p{
  font-size: 20px;
  margin-left: 10px;
  color: white;

}
.under{
  font-size: 10px;
  margin-left: 100px;
  margin-top: 30px;

}
.hello{
  height:200px;
  width: 200px;
  margin-right: 95px;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hello h1{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.hello img{
  width: 250px;
  height: 140px;
  margin-top: 10px;
  border-radius: 8px;
  transition: 1s;
}
.hello img:hover{
  transform: scale(1.1);
  z-index: 0;
}

.hello1{
  height:200px;
  width: 200px;
  margin-right: 95px;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hello1 h1{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.hello1 img{
  width: 250px;
    height: 140px;
  margin-top: 10px;
  border-radius: 8px;
  transition: 1s;
}
.hello1 img:hover{
  transform: scale(1.1);
  z-index: 0;
}
.python{
   background:linear-gradient(110deg,black,gray,#11135E);
  height: 300px;
  border-radius: 10px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
}

.python2{
   background:linear-gradient(110deg,black,gray,#F8DA59,#84742F);
  height: 300px;
  border-radius: 10px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
}
.python3{
   background:linear-gradient(110deg,black,gray,gray,#5D13FF);
  height: 300px;
  border-radius: 10px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
}
.python4{
   background:linear-gradient(110deg,black,gray,#17264B,#1D95C6);
  height: 300px;
  border-radius: 10px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
}
.python5{
   background:linear-gradient(110deg,black,gray,#F04332);
  height: 300px;
  border-radius: 10px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
}
a{
  text-decoration: none;
  color: black;
}
.footer{
  width: 100%;
  height: 35px;
  background-color: black;
  bottom: 0;
  position: fixed;

}
.footer h1{
  font-size: 20px;
  color: white;
  margin-left: 100px;
  margin-top: 10px;
}
.footer ul{
}
.footer ul li{
  display: inline;
  float: right;
  margin-right: 30px;
  margin-top: 10px;

}
.footer ul li a{
  color: white;
  text-decoration: none;
  width: 100px;
  border-radius: 5px;


}

@media (max-width:1134px){
  .python{
    background: #F8F9FB;

  }
  .python2{
    background: #F8F9FB;

  }
  .python3{
    background: #F8F9FB;

  }
  .python4{
    background: #F8F9FB;

  }
  .python5{
    background: #F8F9FB;

  }
p{
  color: gray;
  float: left;
  margin-top: 30px;
  font-size: 50px;

}
.hello{
height:200px;
width: 200px;
margin-right: 95px;
float: right;
margin-top: 10px;
margin-bottom: 10px;
}
.hi1{
  display: none;
}
.topbar ul{
  display: none;
}
.footer ul{
  display: none;
}
}
/*above media auery*/
.top img{
  width: 315px;
  height: 315px;
  float: left;
  display: inline;
  margin-left: 20px;
  transition: 2s;
}
.top2 h3{
  float: left;
  margin-left: 110px;
  font-size: 25px;
}
.top2 h4{
  float: left;
  font-size: 25px;
  margin-left: 60px;
  margin-bottom: 35px;
}
.top2 .space{
  margin-left: 240px;
}
.top2 .space1{
  margin-left: 205px;
}
.top2 .space2{
  margin-left: 185px;
}
.top2 .space11{
  margin-left: 140px;
}
.top2 .space12{
  margin-left: 215px;
}
.top2 .space13{
  margin-left: 220px;
}



.top h1{
  text-align: center;
  margin-top: 30px;
}
.top img:hover{
  transform: scale(0.7);
  z-index: 0;
}
